* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

p {
    margin-bottom: 0;
}

.container {
    max-width: 1440px ;
    padding: 0px 32px 32px 32px;
}

/* .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
      
.navbar a {
    float: left;
    display: block;
    color: #fcfaf1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #fcfaf1;
    color: black;
} */

header {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(1, 100vh) repeat(1, 100vh) repeat(1, 50vh);

}

.header_logo {
    grid-column: 1/5;
    background-image: url(img/header_logo_two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0% 85%;
    background-attachment: fixed;
    vertical-align: middle;
    position: relative;
}

.header_back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.header_logo_text_block {
    opacity: 0.8;
    margin-top: 15vh;
    text-align: center;
    color:#fcfaf1;
}

.header_logo_text_block .text_up {
    font-size: calc(1rem + 0.5vw);
}

.header_logo_text_block .text_bot {
    margin-top: 8vh;
    font-size: calc(1.5rem + 3vw);
    margin-bottom: 10vh;
}

.header_logo_text_block .text_bot_bot {
    font-size: calc(0.8rem + 0.5vw);
    padding: 30px;
}

.about_me {
    height: 100vh;
    grid-column: 1/5;
    background-color: #f8f4eb;
    display: flex;
    align-items: center;
    text-align: center;
}

.about_me_box p {
    color: hsl(185deg 89% 18%);
    border: 1px solid;
    padding: 20px;
    font-size: calc(10px + 1vw);
    margin: 32px;
}

.about_smm {
    color: #fcfaf1;
    grid-column: 1/5;
    height: 50vh;
    background-image: url(img/about_smm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    background-attachment: fixed;
    vertical-align: middle;
    position: relative;
}

.about_smm_back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
}

.about_smm_box {
    padding-left: 10px;
    line-height: 0.9;
    width: 700px;
    font-size: 79px;
    opacity: 0.8;
    display: flex;
    align-items: center;
}

.about_smm_box span {
    font-size: 45px;
}

.about_smm_text {
    grid-column: 1/5;
    background-color: #f8f4eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.about_smm_text_box {
    display: flex;
    padding: 15px;
    text-align: start;
    color: hsl(185deg 89% 18%);
    align-items: center;
    /* width: 1000px; */
}

.about_smm_text_box:hover {
    color: #e4b868;
    transition: 0.3s;
    transform: scale(1.05);
}

.about_smm_text_box .icons {
    font-size: 30px;
    padding-right: 20px;
    align-self: center;
}

.about_smm_text_box .icons_text {
    font-size: 25px;
}

.my_services {
    grid-column: 1/5;
}

.my_services_head {
    color: #fcfaf1;
    grid-column: 1/5;
    background-color: #b0af90;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_services_head_back_text {
    font-size: 75px;
    opacity: 0.8;
    text-align: center;
}

.service {
    background-color: #f8f4eb;
}

.service_att {
    text-align: center;
    color: #f79d6a;
}

.service_box {
    display: flex;
    justify-content: center;
    align-items: end;
}

.service_left img {
    height: 400px;
}

.service_right {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.service_right_head {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.service_right ul {
    list-style-type: none;
    font-size: 18px;
    color: #58514e;
}

.service_up_li {
    margin-bottom: 10px;
}

.service_right .list_circle {
    list-style-type: circle;
    font-size: 18px;
    color: #58514e;
}

.service_right .other_serv li span {
    color: #f7906a;
}

.service_right h2 {
    text-align: center;
    color: #f7906a;
}

.service_right a {
    color: #575139;
    background-color: #b0af90;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid transparent;
    padding: 15px 12px;
    text-decoration: none;
    text-align: center;
}

.service_right a:hover {
    background-color: #575139;
    box-shadow: 0px 5px 8px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
    color: #f8f4eb;
}

.rev {
    flex-direction: row-reverse;
}

.rev_left {
    margin-left: 40px;
}

.rev_right {
    margin-left: 0%;
}

.my_works {
    grid-column: 1/5;
    background-color: #f8f4eb;
}

.my_works_box {
    display: flex;
}

.my_works_link {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.my_works_link_disk {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.link_button {
    max-width: 600px;
}

.my_works_link a{
    color: #575139;
    background-color: #b0af90;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid transparent;
    padding: 15px 12px;
    text-decoration: none;
    text-align: center;

}

.my_works_link p {
    margin-bottom: 30px;
}

.my_works_link a:hover{
    background-color: #575139;
    box-shadow: 0px 5px 8px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
    color: #f8f4eb;
}

.reviews {
    grid-column: 1/5;
    background-color: #f8f4eb;
}

.links {
    grid-column: 1/5;
}

.links_text {
    color: #fcfaf1;
    grid-column: 1/5;
    background-color: #b0af90;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links_list_text {
    color: #f8f4eb;
    margin-top: 40px;
    font-size: 25px;
}

.links_list {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 32px;
}

.links_list a {
    margin: 5px;
    color: #f8f4eb;
}

.links_list a:hover {
    color: #505e5e;
}

@media (max-width: 1024px) {
    .header_logo {
        background-attachment:unset;
    }

    .header_logo_text_block .text_bot {
        margin-top: 8vh;
        font-size: calc(1.5rem + 3vw);
        margin-bottom: 3vh;
    }

    .header_logo_text_block .text_bot_bot {
        font-size: calc(0.8rem + 0.5vw);
        padding: 20px;
    }
    .about_me_box p {
        border: 1px solid;
        padding: 20px;
        font-size: calc(15px + 0.5vh);
        margin: 32px;
    }
    .about_smm {
        background-attachment:unset;
        background-position: 0% 40%;
    }

    .about_smm_box {
        width: 700px;
        font-size: 54px;
    }

    .about_smm_box span {
        font-size: 35px;
    }

    .about_smm_text {
        grid-column: 1/5;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
    }    

    .about_smm_text_box {
        display: flex;
        padding: 10px;
        width: 500px;
        text-align: start;
        align-items: center;
    }
    
    .about_smm_text_box .icons {
        font-size: 45px;
        padding-right: 10px;
        align-self: center;
    }
    
    .about_smm_text_box .icons_text {
        font-size: 30px;
    }

    .my_services_head_back_text {
        font-size: 55px;
    }
    .my_works_box {
        display: unset;
    }
}

@media (max-width: 667px) {
    .header_logo {
        background-attachment:unset;
    }

    .header_logo_text_block .text_bot {
        margin-top: 8vh;
        font-size: calc(1.5rem + 3vw);
        margin-bottom: 8vh;
    }
    .about_me_box p {
        border: 1px solid;
        padding: 20px;
        font-size: calc(15px + 0.5vh);
        margin: 32px;
    }

    .about_smm {
        background-attachment:unset;
    }
    .about_smm_box {
        margin-top: 100px;
        width: auto;
        font-size: 35px;
    }

    .about_smm_box span {
        font-size: 25px;
    }

    .about_smm_text {
        grid-column: 1/5;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
    }    

    .about_smm_text_box {
        display: flex;
        padding: 15px 15px 15px 0px;
        width: 300px;
        text-align: start;
        align-items: center;
    }
    
    .about_smm_text_box .icons {
        font-size: 40px;
        padding-right: 20px;
        align-self: center;
    }
    
    .about_smm_text_box .icons_text {
        font-size: 20px;
    }

    .my_services_head_back_text {
        font-size: 35px;
    }
    
    .service_box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .service_right {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .service_right_head {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }

    .service_right ul {
        font-size: 15px;
    }

    .service_right .list_circle {
        font-size: 10px;
    }

    .rev_left {
        margin-left: 0px;
    }

    .my_works_box {
        display: unset;
    }
}

